@font-face {
    font-family: 'OpenSansHebrewIE';
    font-weight: 400;
    font-style: normal;
    src: url(fonts/opensanshebrew-regular-webfont.woff) format('woff');
}

.rtl {
    font-family:OpenSansHebrewIE !important;
}